body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 0;
}

.content {
    text-align: center;
    padding: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#quizContainer {
    text-align: center;
    padding: 20px;
}

#resultContainer {
    text-align: center;
    padding: 20px;
}
